<%- include("partial/header") -%>
<div class="container">
      
    <div class="row">

         <div class="col-lg-3" >
         

         

         </div>

         <div class="col-lg-6" id="profile">
             <p class="update-a"><a style="font-size:1rem;margin-left:20px;" href="/update">update</a></p>
            <img src="https://static.thenounproject.com/png/538846-200.png" alt="">
             <h3 class="profile-name"><%=name%></h3>
            <p  class="profile-para">Email<label for="email"><%=email%> </label></p>
            <p class="profile-para">Password<label for="password"><%=password%></label></p>
            <p class="profile-para">Gender<label for="gender"><%=gender%></label></p>
            <p class="profile-para">City<label for="city"><%=city%></label></p>
            <p class="profile-para">Pin Code<label for="pincode"><%=pincode%></label></p>
   </div>
         
         
         <div class="col-3"></h1> </div>

      



    </div>



</div>



<%- include("partial/footer") -%>