<%- include("partial/header") -%>
<div class="container">
      
    <div class="row">

         <div class="col-lg-3" >
         

         

         </div>

         <div class="col-lg-6" id="profile">
             <p class="update-a"></p>
            <img src="https://static.thenounproject.com/png/538846-200.png" alt="">
            <form action="/update" method="POST">             <h3 class="profile-name"><input class="update-input"type="text" name="name1" placeholder="Name" value="<%=name%>""></h3>
            <p  class="profile-para">Email <input class="update-input" name="email" style="margin-left:15%;" type="text" value="<%=email%>"></p>
            <p class="profile-para">Password<input type="text" name="password" class="update-input" style="margin-left:8.8%;"  value="<%=password%>"></p>
            <p class="profile-para">Gender<input type="radio" class="update-gender" name="gender" value="male" checked> male<input type="radio" class="update-gender"  name="gender" value="female" > female</p>
            <p class="profile-para">City<input type="text" name="city"style="margin-left:19.7%;" class="update-input"value="<%=city %>"></p>
            <p class="profile-para">Pin Code<input type="text" name="pincode"style="margin-left:10.5%;" class="update-input"value="<%=pincode %>"></p>

            <button type="submit" id="input" class="btn btn-lg btn-primary " >Update</button>
        </form>

        </div>
         
         
         <div class="col-3"></h1> </div>

      



    </div>



</div>



<%- include("partial/footer") -%>